{% include 'header.html'%}
<div class="row">
    <div class="col-4"></div>
    <div class="col-4">
        <div class="card">
            <div class="card-header">Agregar Firmante</div>
            <div class="card-body">
                <form action="/firmantes/create/guardar" method="post">
                    <div class="mb-3">
                        <label for="" class="form-label">Nombre</label>
                        <input type="text" class="form-control" name="nombre" id="" aria-describedby="helpId"
                            placeholder="Nombre" />
                    </div>

                    <div class="mb-3">
                        <label for="" class="form-label">DNI</label>
                        <input type="text" class="form-control" name="dni" id="" aria-describedby="helpId"
                            placeholder="DNI" />
                    </div>

                    <div class="mb-3">
                        <label for="" class="form-label">Email</label>
                        <input type="email" class="form-control" name="mail" id="" aria-describedby="helpId"
                            placeholder="Email" />
                    </div>

                    <div class="mb-3">
                        <label for="" class="form-label">Fecha de Nacimiento</label>
                        <input type="date" class="form-control" name="fecha" id="" aria-describedby="helpId" />
                    </div>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-4"></div>
</div>
{% include 'footer.html'%}