<!doctype html>
<html lang="es">

<head>
    <title>TP - Grupo 1</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid navbar-center">

            <ul class="nav navbar-nav">

                <li class="nav-item">
                    <a class="nav-link active" href="/" aria-current="page"><span
                            class="navbar-brand mb-0 h1">Inicio</span> <span
                            class="visually-hidden">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/firmantes"><span class="navbar-brand mb-0 h1">Firmantes</span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/pregfrec"><span class="navbar-brand mb-0 h1">Preguntas
                            Frecuentes</span></a>
                </li>

            </ul>
        </div>
    </nav>

    <div class="container-fluid mt-5">