{% include 'header.html' %}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <img src="/static/img/peticion1.jpg" alt="imagenpeticion" class="img-fluid mx-auto">
        </div>
        <div class="col-md-6">
            <h1>Únete a nuestras causas:</h1>
            <h2">¡Tu firma hace la diferencia!</h2>
                <p>Las peticiones online han ganado importancia como instrumentos de presión. Los firmantes digitales se
                    están consolidando como una herramienta para el ejercicio de la ciudadanía y la presentación de
                    demandas de interés de la sociedad.
                </p>
                <p>Tu firma es crucial para alcanzar los objetivos de nuestras campañas y marcar una diferencia
                    significativa.</p>
                <p>❤️ ¡No dejes de apoyarnos! ❤️</p>
        </div>
    </div>

    <div class="row mt-5 mb-5">
        <h2>Peticiones actuales</h2>
        <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3"
                    aria-label="Slide 4"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="4"
                    aria-label="Slide 5"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="5"
                    aria-label="Slide 6"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="6"
                    aria-label="Slide 7"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/static/img/pedido1.jpg" class="d-block w-100 carousel-image" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/static/img/pedido2.jpg" class="d-block w-100 carousel-image" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/static/img/pedido3.jpg" class="d-block w-100 carousel-image" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/static/img/pedido4.jpg" class="d-block w-100 carousel-image" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/static/img/pedido5.jpg" class="d-block w-100 carousel-image" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/static/img/pedido6.jpg" class="d-block w-100 carousel-image" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/static/img/pedido7.jpg" class="d-block w-100 carousel-image" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    <div class="video">
        <h2>Mira esta campaña contra la contaminación marina por plásticos</h2>
        <div class="ratio ratio-16x9">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/c8c0sYQ87m8?si=-oRBjNdMdDJm8cTo"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </div>
</div>

{% include 'footer.html' %}